@model IEnumerable<InvoiceManagement.Service.DTOs.DebtDTO>

@{
    ViewData["Title"] = "Index";
}


<table class="table">
    <thead>
    <tr>
        <th>
            Title
        </th>
        <th>
            Amount
        </th>
        <th>
            DueTime
        </th>
        <th>
            Apartment
        </th>
        <th>
            IsPaid
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueTime)
            </td>
            <td>
                @item.Apartment.Block.Title No @item.Apartment.ApartmentNumber
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPaid)
            </td>
            @if (item.IsPaid != true)
            {
                <td>
                    <a asp-action="Payment" asp-controller="UserPayment" asp-route-debtid="@item.Id" class='btn btn-success ml-1 text-white'><i class="far fa-credit-card" aria-hidden="true"></i> </a>
                </td>
            }
        </tr>
    }
    </tbody>
</table>