@model IEnumerable<InvoiceManagement.Service.DTOs.PaymentDTO>

@{
    ViewData["Title"] = "Index";
}

<h3>Payments</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                Apartment
            </th>
            <th>
                User
            </th>
            <th>
                Debt
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreditCardNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ErrorMessage)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Debt.Apartment.Block.Title No @item.Debt.Apartment.ApartmentNumber
                </td>
                <td>
                    @item.User.Name @item.User.Surname
                </td>
                <td>
                    @item.Debt.Title
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreditCardNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ErrorMessage)
                </td>
            </tr>
        }
    </tbody>
</table>
